<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Meerchat</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>com.Bafit.Bafit</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Meerchat</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.Bafit.Bafit</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb359513137551945</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>167</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>79408de8296f5247d8a98cf57977f3ddc206c935</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>359513137551945</string>
	<key>FacebookDisplayName</key>
	<string>Meerchat</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need to be able to recieve location updates if you want to be able to meet up with people close to you!</string>
	<key>Status Bar Style</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIAppFonts</key>
	<array>
		<string>ForgottenFuturistRg_Bold.otf</string>
		<string>ForgottenFuturistRg_Regular.otf</string>
		<string>ForgottenFuturistRg_Regular.ttf</string>
		<string>ForgottenFuturistRg_Bold.ttf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
